body{
    background-image:url(./e5036d89b7163d61471a85ce8b91bb0d.jpeg);
}
.login_page{
    width: 500px;
    padding: 10px;
    margin: 120px auto;
    opacity: 0.7;
    .ant-card-head-title{
        text-align: center;
    }
    .login-form-button{
        width: 300px;
        margin: 10px 75px;
        }
}
